newenv/
test-env/
venv/
.env
__pycache__/
*.pyc
*.pyo
.streamlit/secrets.toml
.vscode/
.idea/
*.sublime-workspace

*.log
*.tmp

.DS_Store
Thumbs.db

.ipynb_checkpoints/


*.so
*.exe
*.dll
*.out
*.class

htmlcov/
.coverage


build/
dist/
*.egg-info/
