streamlit
google-generativeai
langchain-community
python-dotenv
googletrans==4.0.0rc1
spacy
sentence-transformers
pypdf
faiss-cpu
beautifulsoup4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
